@import url("normalize.css");

$main-color: #b5cae6;
$secondary-color: #32609e;
$accent-color: #e6b8b3;
$accent-color2: #d8e69e;
$background-color: #ffffff;
$text-color: #070402;
$white: #ffffff;
$black: #333;

// html {
//   scroll-behavior: smooth;
// }
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: $background-color;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0;
  color: $text-color;
  position: relative;
  border-bottom: 3px solid $main-color;
}

h2::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: 3px solid $secondary-color;
  width: 20%;
  bottom: -3px;
}

h3 {
  font-size: 2rem;
  color: $text-color;
  // text-align: center;
  margin-bottom: 2rem;
  // border-bottom: 4px solid $main-color;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

section {
  // height: 100vh;
  padding-top: 3rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: $white;
  z-index: 1000;
  padding: 1rem 0;
  opacity: 0.8;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;

    .logo {
      display: inline-block;
      margin-right: 1rem;

      img {
        height: 100px;
        width: auto;
      }
    }

    a {
      color: $text-color;
      text-decoration: none;
      margin: 0 1rem;
      transition: color 0.3s;
      font-size: larger;
      font-weight: bold;

      &:hover {
        color: $main-color;
      }
    }
  }
}

/* ヘッダー */
.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 5rem; // ヘッダーの高さ分のpaddingを追加

  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero-text {
    color: $text-color;
    text-align: center;
    z-index: 1;

    h1 {
      font-size: 5rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}

// ごあいさつ
.greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;

  .greeting-icon img {
    width: 300px;
    height: 400px;
    border-radius: 2%;
    box-shadow: #070402 0 0 10px;
  }

  .greeting-content {
    width: 800px;
    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }

    .sign {
      display: flex;
      justify-content: flex-end;
      img {
        width: 300px;
        height: 100px;
        margin: 0 1rem;
      }
    }
  }
}

.intro-container {
  display: flex;
  justify-content: space-around;
  // align-items: center;
  flex-wrap: wrap;
  margin: 3rem auto;
}

/* サービス概要セクション */

.services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-item {
  width: 50%;
  margin-bottom: 2rem;
  text-align: center;
  padding: 3rem;

  &:first-child {
    background-color: $accent-color;
  }
  &:last-child {
    background-color: $accent-color2;
  }

  img {
    width: 300px;
    height: 200px;
    margin-bottom: 1rem;
  }
}

/* 会社概要セクション */

#about {
  background-color: $white;
  padding: 5rem;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin: 5rem auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin: 0 auto;

  tr {
    border-bottom: 2px solid $black;
  }
  th {
    font-size: 2rem;
    font-weight: bold;
    width: 30%;
    padding: 1rem 0;
    border-bottom: 1px solid $black;
    border: none;
    color: $black;
  }
  td {
    font-size: 1.6rem;
    // font-weight: bold;
    padding: 1rem 0;
    border: none;
    color: $text-color;
  }
}

// アクセス
#access {
  .map {
    display: flex;
    margin: 3rem auto;
    width: 1100px;

    .map_right {
      width: 600px;
      margin: 1rem;
      padding: 1rem;

      p {
        font-size: 1.5rem;
        
      }
    }
  }
}

/* お問い合わせセクション */
.contact-section {
  padding: 3rem;
}

.contact-section p {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 1.25rem;
    display: block;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  input[type="submit"] {
    width: auto;
    background-color: $main-color;
    color: $white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

footer {
  background-color: $secondary-color;
  color: $white;
  text-align: center;
  padding: 1rem 0;
  height: 20vh;
}

/* 画面サイズが 768px 以下の場合に適用されるスタイル */
@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .philosophy,
  .vision {
    margin-bottom: 2rem;
  }
}
